/*button */
.btn:link,
.btn:visited{
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	transition: all, .2s;
	position: relative;

}

.btn:hover{
	transform: translateY(-5px);
	box-shadow: 0 1rem 1rem rgba(0,0,0, 0.2);
}

.btn:active{
	transform: translateY(-1px);
	box-shadow:  0 0.5rem 0.5rem rgba(0,0,0,0.2);
}

.btn-white{
	background-color: #fff;
	color:#777;
	padding:0.5rem 1rem;
	border-radius: 10rem;
	
}
 

.btn::after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.btn-white::after{
	background-color: #fff; 
}

.btn:hover::after{
	transform: scale(2);
}